<h2>To change the text you have to click on the lorem ipsum text below.</h2>
<div class="lorem-ipsum" appTextChanger>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus sit amet est eu vehicula. Suspendisse
    condimentum diam non finibus volutpat. In hac habitasse platea dictumst. Proin eget lobortis lorem, non interdum
    justo. Maecenas augue elit, fermentum id turpis quis, posuere venenatis nisi. Nullam vel dui efficitur, luctus
    libero vel, elementum est. Mauris eget sagittis elit, vitae feugiat ex. Pellentesque auctor aliquam neque vulputate
    sollicitudin. Nulla sit amet gravida massa, sed imperdiet lorem. Nulla facilisi. Proin porta magna malesuada urna
    luctus tempor. 

    Nunc ullamcorper velit sit amet ex pharetra, quis viverra dolor tincidunt. Proin in rhoncus orci. Suspendisse
    vehicula vel risus vel facilisis. Mauris non ultricies erat. Donec quis neque ut nunc efficitur malesuada eu nec
    turpis. Nulla suscipit erat diam, vitae tincidunt nunc dapibus vel. Nulla gravida, mi vel blandit tristique, risus
    erat egestas metus, rutrum scelerisque mauris nibh a diam. Praesent lobortis sit amet diam id faucibus. Aenean
    aliquet justo at mattis laoreet. Nulla facilisi. Fusce consectetur porttitor orci, ac interdum leo maximus quis. Ut
    eget scelerisque lorem. Praesent hendrerit pulvinar enim et semper. Phasellus non tellus luctus, imperdiet neque id,
    hendrerit nulla. Fusce aliquet risus et odio euismod pulvinar.
</div>