:host{
    display: block;
}
.menu-trigger {
  cursor: pointer;
  padding: 10px;
  color: #456894;
}
.menu-close {
  cursor: pointer;
  text-align: right;
  padding: 10px 10px 0 0;
}

.side-menu {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 250px;
  background: #456894;
  color: white;
}

.menu-item {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    color: #c1c1c1;
  }
}